@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter);
}

h1,
h2 {
  font-family: var(--font-outfit);
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }
}
